body {
  font-family: Arial, Helvetica, sans-serif, Helvetica Neue;
}

header {
  background-image: url("../images/2HeroShot.jpg");
  background-size: cover;
  opacity: 1;
  height: 450px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-logo {
  display: flex;
  justify-content: space-between;
}

img {
  padding-left: 20px;
  padding-top: 20px;
  width: 100%;
  height: auto;

}

ul {
  margin: 0;
  padding-top: 20px;
  padding-right: 20px;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
  font-size: 10px;
}

li {
  color: black;
  border-radius: 2px;
  margin-left: 20px;
  text-decoration: none;
}

li:first-child {
  margin-left: 2px;
}

a {
  text-decoration: none;
  color: black;
  transition: border-bottom 0.25s;
  transition: color 0.25s;
}

a:hover {
  color: rgba(202, 199, 199, 0.644);
  border-bottom: 2px solid rgba(202, 199, 199, 0.644);
}

.header-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.header-text div:not(#slogan) {
  flex-grow: 2;
}

.slogan {
  flex-grow: 1;
  width: 10%;
  padding-right: 10px;
  padding-bottom: 75px;
  font-size: 4vw;
  font-weight: bold;
}