body {
  background: black;
  font-family: Arial, Helvetica, sans-serif, Helvetica Neue;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

section {
  background: white;
  color: grey;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-services {
  background: white;
  color: rgb(110, 190, 110);
}

.home-summercamp {
  background: white;
  color: rgb(110, 190, 110);
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.home-summercamp div:not(#summercamp-descriptions) {
  background: green;
  flex-grow: 1;
  border-style: solid;
  border-color: white;
  border-width: 5px;
}

.home-summercamp-descriptions {
  flex-grow: 2;
}

.home-multimedia h1 {
  color: black;
}

.program {
  background: black;
}

.contact {
  background: black;
}

.limited-time {
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
}

@media screen and (min-width: 601px) {
  .product-title {
    width: 600px;
    font-weight: bolder;
    font-size: 100px;
    color: white;
  }
}

.services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.services div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .product-title {
    width: 600px;
    font-weight: bolder;
    font-size: 10px;
    color: white;
  }
}

.product-description {
  width: 500px;
  font-size: 50px;
  color: white;
}

.iphones-image {
  display: block;
  width: 500px;
}

.about-us {
  display: flex;
  flex-direction: row;
  width: 800px;
  justify-content: center;
}

.who-we-are,
.who-we-are div {
  width: 400px;
}

.what-we-do,
.what-we-do div {
  width: 400px;
}

footer {
  background: black;
  color: white;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.phones {
  font-size: 2vw;
}